html{
height: 100%;
width: 100%;
}
/*First I changed the color of the text depending on its size and I made them all a different font*/
body {
    background-color:black;
}
h1{
    color:aliceblue;
    font-family:'Georgia';
}
h2{
    color:bisque;
    font-family:'';
}
h3{
    color:white;
    font-family:'courier new';
}
p{
    color:blanchedalmond;
    font-family:'verdana';
}
a{
    color:white;
    text-decoration:none;
}
/*This is so that when you hover over the links, they change color and are underlined*/
a:hover{
    color:gold;
    text-decoration:underline;
}
img{
    border:3px solid rgb(114, 78, 35);
}