html{
height: 100%;
width: 100%;
}
body {
    background-color:black;
}
h1{
    color:aliceblue;
    font-family:'Georgia';
}
h2{
    color:bisque;
    font-family:'';
}
h3{
    color:white;
    font-family:'courier new';
}
p{
    color:blanchedalmond;
    font-family:'verdana';
}
a{
    color:white;
    text-decoration:none;
}
a:hover{
    color:gold;
    text-decoration:underline;
}
img{
    border:3px solid rgb(114, 78, 35);
}